*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
}

section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .navigation{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation img{
    width: 200px;
    height: auto;
    transition: .50s ease-in-out;
}

 .navigation img:hover{
    width: 100px;
    transform: scale(1.3);
    
}

section .navigation li:hover{
    opacity: 1;
}

section .navigation li{
    list-style: none;
    cursor: pointer;
    border-radius: 5px;
    background: white;
    margin: 0 10px;
    padding: 3px 3px 0;
    opacity: .7;
}

@media (max-width: 768px){
    .navigation img{
        width: 90px;
        height: auto;
    }

    .navigation img:hover{
        width: 50px;
        transform: scale(1.3);
        
    }
}